@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css or a similar CSS file */
.playwrite-gb-s-regular {
	font-family: "Playwrite GB S", cursive;
	font-weight: 400;
  }
  
  .playwrite-gb-s-light {
	font-family: "Playwrite GB S", cursive;
	font-weight: 100;
  }
  
  /* Add more classes as needed */
  
.ga-maamli-regular {
	font-family: "Ga Maamli", sans-serif;
	font-weight: 400;
	font-style: normal;
  }

  
a {
	text-decoration: none;
  }
  .crimson{
	color: crimson;
  }
  .get-button {
	background-color: transparent;
	padding: 1rem;
	border: 2px crimson solid;
	text-align: left;
	font-size: larger;
  }
  .get-button:hover {
	background-color: crimson;
	border-color: crimson;
  }
  .bg-crimson{
	background-color: crimson;
  }
  .border-crimson{
	border-color: crimson;
  }
  .check-button {
	background-color: transparent;
	border: 2px crimson solid;
  }
  .get-button:hover {
	background-color: crimson;
	border-color: crimson;
  }
  
  #hero {
	margin-top: -20px;
	background-size: cover;
	background-position: top center;
	position: relative;
  }
  #hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0.7;
	z-index: -1;
  }
  #hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px; /* Adjust padding for smaller screens */
  }
  #hero h1 {
	display: block;
	width: fit-content;
	font-size: auto; /* Default font size for small screens */
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
  }
  #hero h1:nth-child(1) {
	animation-delay: 1s;
  }
  #hero h1:nth-child(2) {
	animation-delay: 2s;
  }
  #hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
  }
  #hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
  }
  #hero h1:nth-child(1) span {
	animation-delay: 0.5s;
  }
  #hero h1:nth-child(2) span {
	animation-delay: 1.5s;
  }
  #hero h1:nth-child(3) span {
	animation-delay: 2.5s;
  }
  
  /* Keyframes */
  @keyframes hamburger_puls {
	0% {
	  opacity: 1;
	  transform: scale(1);
	}
	100% {
	  opacity: 0;
	  transform: scale(1.4);
	}
  }
  @keyframes text_reveal_box {
	50% {
	  width: 100%;
	  left: 0;
	}
	100% {
	  width: 0;
	  left: 100%;
	}
  }
  @keyframes text_reveal {
	100% {
	  color: white;
	}
  }
  @keyframes text_reveal_name {
	100% {
	  color: crimson;
	  font-weight: 500;
	}
  }
  /* End Keyframes */
  .blur-img {
	filter: blur(5px);
  }
  

  .animated img {    
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);    
	animation: border-transform 10s linear infinite alternate forwards;    
	border-radius: 100%;
}

/* Keyframes for the border-radius transformation */
@keyframes border-transform {    
	0%, 100% {        
		border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;    
	}    
	14% {        
		border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;    
	}    
	28% {        
		border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;    
	}    
	42% {        
		border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;    
	}    
	56% {        
		border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;    
	}    
	70% {        
		border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;    
	}    
	84% {        
		border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;    
	}
}

/* Sticky header background color */
[data-scroll-listener="true"] #sinatra-header-inner {    
	background: rgba(0, 0, 0, 0.6);
}